<div class="alert alert-danger" ng-show="error">
	登录出错，请稍后重试。
</div>
<form role="form" ng-submit="login()">
	<div class="form-group">
		<label for="username">用户名:</label> <input type="text"
			class="form-control" id="username" name="username" ng-model="credentials.username"/>
	</div>
	<div class="form-group">
		<label for="password">密码:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="credentials.password"/>
	</div>
	<button type="submit" class="btn btn-primary">登录</button>
</form>